In [14]:
import numpy as np
import pandas as pd
import os
import re

#创建EXAM分数在一个数据集下
def create_exam(dataset):
    programs=['Chart','Lang','Math','Time']
    
    for prog in programs:
        
        for root,dirs,files in os.walk('./'+dataset+'/'+prog):
            exam_list=list()
            for dir in dirs:
                if re.match(r'[0-9]',dir):
                    path0='./'+dataset+'/'+prog+'/'+dir+'/barinel.txt'
                    if not os.path.exists(path0):
                        break 
                    susp=pd.read_csv('./'+dataset+'/'+prog+'/'+dir+'/barinel.txt',sep='  ',header=None,index_col=None)
                    
                    susp.columns=['loc','suspision']
                    path='./'+dataset+'/'+prog+'/'+dir+'/bugline.txt'
                    if not os.path.exists(path):
                        break
                    buglines=open(path,'r')
                    bugs=list()
                    for bugline in buglines:
                        bugs.append(eval(bugline))
                    len_susp=susp.shape[0]
                    exams=[]
                    idxs=susp[susp['loc'].isin(bugs)].index.to_list()
                    if not idxs:
                        exams.append(1)
                    else:
                        for idx in idxs:
                            exams.append((idx+1)/len_susp)
                    exam=np.mean(exams)
                    exam_list.append([dir,exam])
                    df=pd.DataFrame(exam_list,columns=['version','barinel-exam']).sort_values('barinel-exam')

                    df.to_csv('./'+dataset+'/'+prog+'/barinel-exam.csv',index=False)             
                    
        print(prog+' Completed')
    
    print('Finish:'+dataset)

In [17]:

create_exam('SliceData')

<ipython-input-14-ff21d729b301>:19: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  susp=pd.read_csv('./'+dataset+'/'+prog+'/'+dir+'/barinel.txt',sep='  ',header=None,index_col=None)

Chart Completed
Lang Completed
Math Completed
Time Completed
Finish:SliceData

In [16]:
susp=pd.read_csv('./'+'defects4j'+'/'+'Chart'+'/'+'3'+'/dstar.txt',sep='  ',header=None,index_col=None)
#susp.drop(susp.columns[1],axis=1,inplace=True)
susp.columns=['loc','suspision']
susp

<ipython-input-16-d88b74b9d281>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  susp=pd.read_csv('./'+'defects4j'+'/'+'Chart'+'/'+'3'+'/dstar.txt',sep='  ',header=None,index_col=None)

         loc  suspision
0    1701050        1.0
1    1701053        1.0
2    1701056        1.0
3    1701057        1.0
4    1701058        1.0
..       ...        ...
835  1900061        0.0
836  1900062        0.0
837  2000094        0.0
838  2000105        0.0
839  2000106        0.0

[840 rows x 2 columns]